<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" id="name" name="name">
  <!-- <input type="text" id="content" name="content">
  <input type="submit" id="submit"> -->
</form>
