<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label> Name:</label>
  <input type="text" value="<%= @post.name %>" name="name">

  <label> Content:</label>
  <input type="text" value="<%= @post.content %>" name="content">

  <input type="submit" id="submit">
</form>
